* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.login-container {
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 5px 0px;
}

.website-logo {
  width: 160px;
  height: 50px;
  background-size: cover;
}

.website-login {
  width: 250px;
  height: 250px;
  background-size: cover;
  padding: 20px 0px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.input-container input {
  min-width: 95%;
  padding: 10px 20px;
  background-color: #d7dfe9;
  border: none;
  border-radius: 5px;
  color: #64748b;
  font-size: 15px;
  font-weight: 400;
}

.input-container label {
  color: #475569;
  font-weight: 500;
  padding: 5px 0px;
}

.login-button {
  color: #fff;
  background-color: #0967d2;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  width: 100%;
  cursor: pointer;
  margin: 5px 0px;
}

.error-message {
  color: #ff0b37;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

/* Hex: #1e293b
Hex: #ffffff
Hex: #475569
Hex: #e6f6ff
Hex: #d7dfe9
Hex: #e2e8f0
Hex: #64748b
Hex: #0b69ff
Hex: #ff0b37
Hex: #0967d2 */
