* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.home-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-body-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-body-con h1 {
  color: #1e293b;
  padding: 0px 0px;
  font-size: 35px;
  font-weight: bold;
}

.home-body-con p {
  color: #475569;
  padding: 0px 15px;
  font-size: 13px;
  font-weight: 500;
}

.home-body-con button {
  background-color: #0967d2;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 50px;
}

.image-clothes {
  width: 100%;
  padding: 10px 20px;
}

/* Hex: #1e293b
Hex: #ffffff
Hex: #475569
Hex: #e6f6ff
Hex: #d7dfe9
Hex: #e2e8f0
Hex: #64748b
Hex: #0b69ff
Hex: #ff0b37
Hex: #0967d2 */
