.header-cont {
  width: 100%;
}

.header-cont div {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header-cont ul {
  background-color: #e6f6ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  border-radius: 5px;
  margin: 10px 0px;
  list-style: none;
}

.website-logo {
  width: 100px;
  height: 100%;
  background-size: cover;
}

.nav-logout {
  width: 25px;
  height: 25px;
  background-size: cover;
  cursor: pointer;
}

.nav-links {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-size: cover;
}
